
-# = form_for @project do |f|
#form
  .container
    .col-md-6.col-md-offset-3
      %h1 Editing project


      = simple_form_for @project, html: { :multipart => true } do |f|
        - if @project.errors.any?
          #error_explanation
            %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
            %ul
              - @project.errors.full_messages.each do |msg|
                %li= msg

        .field.form-horizontal
          = f.select :category_id, @categories
        .field.form-horizontal
          = f.label :title
          = f.text_field :title
        .field
          = f.label :description
          = f.text_area :description
        .field
          = f.input :image, as: :file
        .actions
          = f.submit 'Save'

      -# = render 'form'

      = link_to 'Show', @project, class: "btn btn-default"
      \|
      = link_to 'Back', projects_path, class: "btn btn-default"
