#project_board
  .container
    .row#listing
      %h1 Listing projects

    - @projects.each_slice(3) do |boards|
      .row#boards
        -# - boards.each do |board|
        -# = image_tag project.image.url(:medium)
        -# %h4= project.title
        -# %p= project.description
        - boards.each do |board|
          .card
            .col-md-4#boards
              .card-img-top
                = image_tag board.image.url(:medium)
              .card-block
                %p= board.category.name
                = link_to board.title, board
                %p= board.description

%br


- if user_signed_in?
  = link_to 'New Project', new_project_path, class: "btn btn-success"
